openapi: 3.0.2
info:
  description: "# \n<aside class=\"notice\">As a stepping stone to new and greater\
    \ things, we’ve released an update to the SunCo API, which is v2. For users wanting\
    \ to access v1, please proceed <a href=\"https://docs.smooch.io/rest/\">here</a>.\
    \ \n</aside>\n\n# Introduction\n\nWelcome to the Sunshine Conversations API. The\
    \ API allows you to craft entirely unique messaging experiences for your app and\
    \ website as well as talk to any backend or external service.\n\nThe Sunshine\
    \ Conversations API is designed according to REST principles. The API accepts\
    \ JSON in request bodies and requires that the content-type: application/json\
    \ header be specified for \nall such requests. The API will always respond with\
    \ an object. Depending on context, resources may be returned as single objects\
    \ or as arrays of objects, nested within the response object.\n\nIn some cases,\
    \ the API will also facilitate cross-origin resource sharing so that it can be\
    \ called from a web application.\n\n<aside class=\"notice\">Note that for authenticated\
    \ requests, cross-origin resource sharing is only available to appUser scoped\
    \ credentials. Attempting to call the API from the browser using \napp or account\
    \ scoped credentials will result in a <a href=\"https://developer.mozilla.org/en-US/docs/Web/Security/Same-origin_policy\"\
    >same-origin policy</a> browser error. For more information, refer \nto the <a\
    \ href=\"http://docs.smooch.io/guide/authorization/#handle-credentials-with-caution\"\
    >Authorization guide</a>.</aside>\n\n## API pagination and records limits\n\n\
    Some APIs can be paginated by providing the `offset` query string parameter.\n\
    \nThe `offset` is the number of initial records to skip before picking records\
    \ to return (default 0).\n\nThe `limit` query string can also be provided to change\
    \ the number of records to return (maximum\n100, default 25).\n\nAll paginated\
    \ endpoints will eventually support cursor pagination and `offset` based pagination\
    \ support will be dropped.\n\n### Cursor Pagination\n\nSome APIs are paginated\
    \ through cursor pagination. Rather than providing an `offset`, a `page[after]`\
    \ or `page[before]` query string parameter may be provided. `page[after]` and\
    \ `page[before]` are cursors pointing to a record id.\n\nThe `page[after]` cursor\
    \ indicates that only records **subsequent** to it should be returned.\n\nThe\
    \ `page[before]` cursor indicates that only records **preceding** it should be\
    \ returned.\n\n**Only one** of `page[after]` or `page[before]` may be provided\
    \ in a query, not both.\n\nIn cursor pagination, the equivalent to the `limit`\
    \ query string is the `page[size]` query string parameter.\n\n## Regions\n\nSunshine\
    \ Conversations is available in the following regions. Each Sunshine Conversations\
    \ region has its own API host.\n\n| Region         | Host                    \
    \   |\n| -------------- | -------------------------- |\n| United States  | https://api.smooch.io\
    \      |\n| European Union | https://api.eu-1.smooch.io |\n\n  For more information\
    \ on regions, visit [the guide](/guide/regions/).\n\n  <aside class=\"notice\"\
    >When configuring an API host, make sure to always use `https`. Some API clients\
    \ can have unexpected behaviour when following redirects from `http` to `https`.</aside>\n"
  termsOfService: https://www.zendesk.com/company/customers-partners/master-subscription-agreement/
  title: Sunshine Conversations API
  version: 6.0.0-alpha.5
  x-logo:
    url: sunco_logo.png
    altText: Sunshine Conversations
servers:
- description: United States server
  url: https://api.smooch.io
- description: European Union server
  url: https://api.eu-1.smooch.io
security:
- basicAuth:
  - app
  - account
- bearerAuth:
  - app
  - account
tags:
- description: App operations
  name: Apps
  x-displayName: Apps
- description: App Keys operations
  name: App Keys
  x-displayName: App Keys
- description: Conversation operations
  name: Conversations
  x-displayName: Conversations
- description: Participant operations
  name: Participants
  x-displayName: Participants
- description: Message operations
  name: Messages
  x-displayName: Messages
- description: Activity operations
  name: Activities
  x-displayName: Activities
- description: Client operations
  name: Clients
  x-displayName: Clients
- description: Manage which switchboard integration has control over a conversation.
  name: Switchboard Actions
  x-displayName: Switchboard Actions
- description: |
    This set of endpoints is used to configure and manage various front-end messaging channels.
  name: Integrations
  x-displayName: Integrations
- description: This set of endpoints is used to provision and revoke API keys for
    a Sunshine Conversations integration. An integration can have a maximum of 10
    keys. This endpoint is only available for integrations of type custom. An error
    will be returned when attempting to provision API keys for any other integration
    type.
  name: CustomIntegrationApiKeys
  x-displayName: Custom Integration API Keys
- description: Switchboard operations
  name: Switchboards
  x-displayName: Switchboards
- description: Switchboard Integrations operations
  name: Switchboard Integrations
  x-displayName: Switchboard Integrations
paths:
  /v2/apps:
    get:
      description: "Lists all apps that a user is part of. This API is paginated through\
        \ [cursor pagination](#section/Introduction/API-pagination-and-records-limits).\
        \ \n```shell\n   /v2/apps?page[after]=5e1606762556d93e9c176f69&page[size]=10\n\
        ```\n"
      operationId: listApps
      parameters:
      - description: Contains parameters for applying cursor pagination.
        explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/page'
        style: deepObject
      - $ref: '#/components/parameters/filter'
        description: Contains parameters for filtering the results.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          properties:
            serviceAccountId:
              description: When specified, lists only the apps that the service account
                has access to.
              type: string
          type: object
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appListResponse'
          description: Ok
      summary: List Apps
      tags:
      - Apps
      x-accepts: application/json
    post:
      description: Create an app.
      operationId: createApp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/appCreateBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appResponse'
          description: Created
      summary: Create App
      tags:
      - Apps
      x-contentType: application/json
      x-accepts: application/json
  /v2/apps/{appId}:
    delete:
      description: Removes the specified app, including all its enabled integrations.
      operationId: deleteApp
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Ok
        "404":
          description: Not Found
      summary: Delete App
      tags:
      - Apps
      x-accepts: application/json
    get:
      description: Fetches an individual app.
      operationId: getApp
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appResponse'
          description: Ok
        "404":
          description: Not Found
      summary: Get App
      tags:
      - Apps
      x-accepts: application/json
    put:
      description: Updates an app.
      operationId: updateApp
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/appUpdateBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appResponse'
          description: Ok
        "404":
          description: Not Found
      summary: Update App
      tags:
      - Apps
      x-contentType: application/json
      x-accepts: application/json
  /v2/apps/{appId}/keys:
    get:
      description: Lists all API keys for a given app.
      operationId: listAppKeys
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appKeyListResponse'
          description: Ok
      summary: List App Keys
      tags:
      - App Keys
      x-accepts: application/json
    post:
      description: "Creates an API key for the specified app. The response body will\
        \ include a secret \nas well as its corresponding id, which you can use to\
        \ generate JSON Web Tokens to \nsecurely make API calls on behalf of the app.\n"
      operationId: createAppKey
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AppKeyCreateBody'
        content:
          application/json:
            schema:
              example:
                displayName: ""
              properties:
                displayName:
                  allOf:
                  - $ref: '#/components/schemas/displayName'
              required:
              - displayName
              title: AppKeyCreateBody
              type: object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appKeyResponse'
          description: Created
      summary: Create App Key
      tags:
      - App Keys
      x-contentType: application/json
      x-accepts: application/json
  /v2/apps/{appId}/keys/{keyId}:
    delete:
      description: Removes an API key.
      operationId: deleteAppKey
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: The id of the key.
        explode: false
        in: path
        name: keyId
        required: true
        schema:
          example: int_5d8cff3cd55b040010928b5b
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Ok
        "404":
          description: Not Found
      summary: Delete App Key
      tags:
      - App Keys
      x-accepts: application/json
    get:
      description: Returns an API key.
      operationId: getAppKey
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: The id of the key.
        explode: false
        in: path
        name: keyId
        required: true
        schema:
          example: int_5d8cff3cd55b040010928b5b
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appKeyResponse'
          description: Ok
        "404":
          description: Not Found
      summary: Get App Key
      tags:
      - App Keys
      x-accepts: application/json
  /v2/apps/{appId}/conversations:
    get:
      description: |
        Lists all conversations that a user is part of. This API is [paginated](#section/Introduction/API-pagination-and-records-limits).
        ```shell
           /v2/apps/:appId/conversations?userId=42589ad070d43be9b00ff7e5&limit=30&offset=0
        ```
      operationId: listConversations
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: The user's id. One of userId or userExternalId is required, but
          not both.
        explode: true
        in: query
        name: userId
        required: false
        schema:
          example: 42589ad070d43be9b00ff7e5
          type: string
        style: form
      - description: The external Id of the user. One of userId or userExternalId
          is required, but not both.
        explode: true
        in: query
        name: userExternalId
        required: false
        schema:
          example: your-own-user-id
          type: string
        style: form
      - description: Limit the number of records to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          example: 25
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - description: The number of initial records to skip before picking records
          to return.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversationListResponse'
          description: Ok
        "404":
          description: Not Found
      security:
      - basicAuth:
        - app
        - account
        - integration
      - bearerAuth:
        - app
        - account
        - integration
      summary: List Conversations
      tags:
      - Conversations
      x-accepts: application/json
    post:
      description: Create a conversation for the specified user(s).
      operationId: createConversation
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/conversationCreateBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversationResponse'
          description: Created
        "404":
          description: Not Found
      security:
      - basicAuth:
        - app
        - account
        - integration
      - bearerAuth:
        - app
        - account
        - integration
      summary: Create Conversation
      tags:
      - Conversations
      x-contentType: application/json
      x-accepts: application/json
  /v2/apps/{appId}/conversations/{conversationId}:
    delete:
      description: Delete an entire conversation record, along with its messages and
        attachments. Note that the default conversation cannot be deleted, but the
        messages contained [can be](#deleteAllMessages).
      operationId: deleteConversation
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Identifies the conversation.
        explode: false
        in: path
        name: conversationId
        required: true
        schema:
          example: 029c31f25a21b47effd7be90
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Ok
        "404":
          description: Not Found
      security:
      - basicAuth:
        - app
        - account
        - integration
      - bearerAuth:
        - app
        - account
        - integration
      summary: Delete Conversation
      tags:
      - Conversations
      x-accepts: application/json
    get:
      description: Fetches an individual conversation.
      operationId: getConversation
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Identifies the conversation.
        explode: false
        in: path
        name: conversationId
        required: true
        schema:
          example: 029c31f25a21b47effd7be90
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversationResponse'
          description: Ok
        "404":
          description: Not Found
      security:
      - basicAuth:
        - app
        - account
        - integration
      - bearerAuth:
        - app
        - account
        - integration
      summary: Get Conversation
      tags:
      - Conversations
      x-accepts: application/json
    put:
      description: Updates a conversation record.
      operationId: updateConversation
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Identifies the conversation.
        explode: false
        in: path
        name: conversationId
        required: true
        schema:
          example: 029c31f25a21b47effd7be90
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/conversationUpdateBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversationResponse'
          description: Ok
        "404":
          description: Not Found
      security:
      - basicAuth:
        - app
        - account
        - integration
      - bearerAuth:
        - app
        - account
        - integration
      summary: Update Conversation
      tags:
      - Conversations
      x-contentType: application/json
      x-accepts: application/json
  /v2/apps/{appId}/conversations/{conversationId}/join:
    post:
      description: |
        Adds a user to a conversation using either their userId or userExternalId. The endpoint only
        supports adding a participant to a sdkGroup conversation.
      operationId: joinConversation
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Identifies the conversation.
        explode: false
        in: path
        name: conversationId
        required: true
        schema:
          example: 029c31f25a21b47effd7be90
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/participantJoinBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantResponse'
          description: Created
        "400":
          description: Too many participants
        "404":
          description: Not found
      security:
      - basicAuth:
        - app
        - account
        - integration
      - bearerAuth:
        - app
        - account
        - integration
      summary: Join Conversation
      tags:
      - Participants
      x-contentType: application/json
      x-accepts: application/json
  /v2/apps/{appId}/conversations/{conversationId}/participants:
    get:
      description: |
        Lists all the participants of a particular conversation. This API is [paginated](#section/Introduction/API-pagination-and-records-limits).
      operationId: listParticipants
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Identifies the conversation.
        explode: false
        in: path
        name: conversationId
        required: true
        schema:
          example: 029c31f25a21b47effd7be90
          type: string
        style: simple
      - description: Limit the number of records to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          example: 25
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - description: The number of initial records to skip before picking records
          to return.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/participantListResponse'
          description: Ok
        "404":
          description: Not found
      security:
      - basicAuth:
        - app
        - account
        - integration
      - bearerAuth:
        - app
        - account
        - integration
      summary: List Participants
      tags:
      - Participants
      x-accepts: application/json
  /v2/apps/{appId}/conversations/{conversationId}/leave:
    post:
      description: |
        Removes a user from a conversation using either their userId, userExternalId, or participantId.
      operationId: leaveConversation
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Identifies the conversation.
        explode: false
        in: path
        name: conversationId
        required: true
        schema:
          example: 029c31f25a21b47effd7be90
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/participantLeaveBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Ok
        "404":
          description: Not found
      security:
      - basicAuth:
        - app
        - account
        - integration
      - bearerAuth:
        - app
        - account
        - integration
      summary: Leave Conversation
      tags:
      - Participants
      x-contentType: application/json
      x-accepts: application/json
  /v2/apps/{appId}/conversations/{conversationId}/messages:
    delete:
      description: Delete all messages of a particular conversation.
      operationId: deleteAllMessages
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Identifies the conversation.
        explode: false
        in: path
        name: conversationId
        required: true
        schema:
          example: 029c31f25a21b47effd7be90
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Ok
        "404":
          description: Not found
      security:
      - basicAuth:
        - app
        - account
        - integration
      - bearerAuth:
        - app
        - account
        - integration
      summary: Delete All Messages
      tags:
      - Messages
      x-accepts: application/json
    get:
      description: List all messages for a particular conversation. This API is [paginated](#section/Introduction/API-pagination-and-records-limits).
        It returns a maximum of 100 messages at a time. It returns the previous/next
        pages URLs in the response body. Equivalent to the v1 Get Messages API
      operationId: listMessages
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Identifies the conversation.
        explode: false
        in: path
        name: conversationId
        required: true
        schema:
          example: 029c31f25a21b47effd7be90
          type: string
        style: simple
      - description: When specified, only messages older than the given timestamp
          are returned.
        explode: true
        in: query
        name: before
        required: false
        schema:
          example: 1471995755
          type: integer
        style: form
      - description: When specified, only messages newer than the given timestamp
          are returned.
        explode: true
        in: query
        name: after
        required: false
        schema:
          example: 1471995721
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messageListResponse'
          description: Ok
        "404":
          description: Not found
      security:
      - basicAuth:
        - app
        - account
        - integration
      - bearerAuth:
        - app
        - account
        - integration
      summary: List Messages
      tags:
      - Messages
      x-accepts: application/json
    post:
      description: Send a message in a particular conversation.
      operationId: postMessage
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Identifies the conversation.
        explode: false
        in: path
        name: conversationId
        required: true
        schema:
          example: 029c31f25a21b47effd7be90
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/messagePost'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagePostResponse'
          description: Created
      security:
      - basicAuth:
        - app
        - account
        - integration
      - bearerAuth:
        - app
        - account
        - integration
      summary: Post Message
      tags:
      - Messages
      x-contentType: application/json
      x-accepts: application/json
  /v2/apps/{appId}/conversations/{conversationId}/messages/{messageId}:
    delete:
      description: Delete a single message of a particular conversation.
      operationId: deleteMessage
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Identifies the conversation.
        explode: false
        in: path
        name: conversationId
        required: true
        schema:
          example: 029c31f25a21b47effd7be90
          type: string
        style: simple
      - description: The id of the message.
        explode: false
        in: path
        name: messageId
        required: true
        schema:
          example: 029c31f25a21b47effd7be90
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Ok
        "404":
          description: Not found
      security:
      - basicAuth:
        - app
        - account
        - integration
      - bearerAuth:
        - app
        - account
        - integration
      summary: Delete Message
      tags:
      - Messages
      x-accepts: application/json
  /v2/apps/{appId}/conversations/{conversationId}/activity:
    post:
      description: |
        Notify Sunshine Conversations of different conversation activities. Supported activity types are:
        * Typing activity
        * Conversation read event
      operationId: postActivity
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Identifies the conversation.
        explode: false
        in: path
        name: conversationId
        required: true
        schema:
          example: 029c31f25a21b47effd7be90
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/activityPost'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Ok
      security:
      - basicAuth:
        - app
        - account
        - integration
      - bearerAuth:
        - app
        - account
        - integration
      summary: Post Activity
      tags:
      - Activities
      x-contentType: application/json
      x-accepts: application/json
  /v2/apps/{appId}/conversations/{conversationId}/acceptControl:
    post:
      description: The acceptControl action transfers the control of the conversation
        to the pending switchboard integration. When using integration auth scope,
        a 403 is returned if the pending switchboard integration is not the authenticated
        integration.
      operationId: acceptControl
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Identifies the conversation.
        explode: false
        in: path
        name: conversationId
        required: true
        schema:
          example: 029c31f25a21b47effd7be90
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/acceptControlBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Ok
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - basicAuth:
        - app
        - account
        - integration
      - bearerAuth:
        - app
        - account
        - integration
      summary: Accept Control
      tags:
      - Switchboard Actions
      x-contentType: application/json
      x-accepts: application/json
  /v2/apps/{appId}/conversations/{conversationId}/offerControl:
    post:
      description: The offerControl action will invite a switchboard integration to
        accept control of the conversation (changing its status to pending), and trigger
        a webhook signal to that integration indicating that they have been offered
        control of the conversation. Invalidates previous offerControl actions.
      operationId: offerControl
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Identifies the conversation.
        explode: false
        in: path
        name: conversationId
        required: true
        schema:
          example: 029c31f25a21b47effd7be90
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/offerControlBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Ok
        "404":
          description: Not Found
      security:
      - basicAuth:
        - app
        - account
        - integration
      - bearerAuth:
        - app
        - account
        - integration
      summary: Offer Control
      tags:
      - Switchboard Actions
      x-contentType: application/json
      x-accepts: application/json
  /v2/apps/{appId}/conversations/{conversationId}/passControl:
    post:
      description: Mark the named switchboard integration as active and transition
        all the other switchboard integrations to standby status.
      operationId: passControl
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Identifies the conversation.
        explode: false
        in: path
        name: conversationId
        required: true
        schema:
          example: 029c31f25a21b47effd7be90
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/passControlBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Ok
        "404":
          description: Not Found
      security:
      - basicAuth:
        - app
        - account
        - integration
      - bearerAuth:
        - app
        - account
        - integration
      summary: Pass Control
      tags:
      - Switchboard Actions
      x-contentType: application/json
      x-accepts: application/json
  /v2/apps/{appId}/users/{userId}/clients:
    get:
      description: Get all the clients for a particular user, including both linked
        clients and pending clients. This API is [paginated](#section/Introduction/API-pagination-and-records-limits).
      operationId: listClients
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: The user's id or externalId.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          example: 42589ad070d43be9b00ff7e5
          type: string
        style: simple
      - description: Limit the number of records to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          example: 25
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - description: The number of initial records to skip before picking records
          to return.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clientListResponse'
          description: Ok
      security:
      - basicAuth:
        - app
        - account
        - integration
      - bearerAuth:
        - app
        - account
        - integration
      summary: List Clients
      tags:
      - Clients
      x-accepts: application/json
    post:
      description: Create a client and link it to a channel specified by the matchCriteria.type.
      operationId: createClient
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: The user's id or externalId.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          example: 42589ad070d43be9b00ff7e5
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/clientCreate'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientResponse'
          description: Created
      security:
      - basicAuth:
        - app
        - account
        - integration
      - bearerAuth:
        - app
        - account
        - integration
      summary: Create Client
      tags:
      - Clients
      x-contentType: application/json
      x-accepts: application/json
  /v2/apps/{appId}/users/{userId}/clients/{clientId}:
    delete:
      description: Remove a particular client and unsubscribe it from all connected
        conversations.
      operationId: removeClient
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: The user's id or externalId.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          example: 42589ad070d43be9b00ff7e5
          type: string
        style: simple
      - description: The client's id.
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Ok
      security:
      - basicAuth:
        - app
        - account
        - integration
      - bearerAuth:
        - app
        - account
        - integration
      summary: Remove Client
      tags:
      - Clients
      x-accepts: application/json
  /v2/apps/{appId}/integrations:
    get:
      description: List available integrations.
      operationId: listIntegrations
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Comma-separated list of types to return. If omitted, all types
          are returned.
        explode: true
        in: query
        name: types
        required: false
        schema:
          example: android,ios
          type: string
        style: form
      - description: Limit the number of records to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          example: 25
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - description: The number of initial records to skip before picking records
          to return.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/integrationListResponse'
          description: Ok
      summary: List Integrations
      tags:
      - Integrations
      x-accepts: application/json
    post:
      description: The Create Integration endpoint allows you to provision apps with
        front-end messaging channels. See the sections below for channel specific
        instructions.
      operationId: createIntegration
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/integration'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponse'
          description: Created
      summary: Create Integration
      tags:
      - Integrations
      x-contentType: application/json
      x-accepts: application/json
  /v2/apps/{appId}/integrations/{integrationId}:
    delete:
      description: Delete the specified integration.
      operationId: deleteIntegration
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: The id of the integration.
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          example: 029c31f25a21b47effd7be90
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Ok
      summary: Delete Integration
      tags:
      - Integrations
      x-accepts: application/json
    get:
      description: Get integration.
      operationId: getIntegration
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: The id of the integration.
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          example: 029c31f25a21b47effd7be90
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponse'
          description: Ok
      summary: Get Integration
      tags:
      - Integrations
      x-accepts: application/json
    put:
      description: Allows you to update certain fields of existing integrations. If
        updating a specific property is not supported, you must delete the integration
        and re-create it with the new data.
      operationId: updateIntegration
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: The id of the integration.
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          example: 029c31f25a21b47effd7be90
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/integrationUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponse'
          description: Ok
      summary: Update Integration
      tags:
      - Integrations
      x-contentType: application/json
      x-accepts: application/json
  /v2/apps/{appId}/integrations/{integrationId}/keys:
    get:
      description: Lists all API keys for a given integration.
      operationId: listCustomIntegrationKeys
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: The id of the integration.
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          example: 029c31f25a21b47effd7be90
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationApiKeyListResponse'
          description: Ok
      summary: List Integration Keys
      tags:
      - CustomIntegrationApiKeys
      x-accepts: application/json
    post:
      description: Creates an API key for the specified custom integration. The response
        body will include a secret as well it’s corresponding id, which you can use
        to generate JSON Web Tokens to securely make API calls on behalf of the integration.
      operationId: createCustomIntegrationKey
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: The id of the integration.
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          example: 029c31f25a21b47effd7be90
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/IntegrationApiKey'
        content:
          application/json:
            schema:
              example:
                name: name
              properties:
                name:
                  description: The name of the API key.
                  type: string
              required:
              - name
              title: IntegrationApiKey
              type: object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationApiKeyResponse'
          description: Created
      summary: Create Integration Key
      tags:
      - CustomIntegrationApiKeys
      x-contentType: application/json
      x-accepts: application/json
  /v2/apps/{appId}/integrations/{integrationId}/keys/{keyId}:
    delete:
      description: Removes an API key.
      operationId: deleteCustomIntegrationKey
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: The id of the integration.
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          example: 029c31f25a21b47effd7be90
          type: string
        style: simple
      - description: The id of the key.
        explode: false
        in: path
        name: keyId
        required: true
        schema:
          example: int_5d8cff3cd55b040010928b5b
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Ok
      summary: Delete Integration Key
      tags:
      - CustomIntegrationApiKeys
      x-accepts: application/json
    get:
      description: Get the specified API key.
      operationId: getCustomIntegrationKey
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: The id of the integration.
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          example: 029c31f25a21b47effd7be90
          type: string
        style: simple
      - description: The id of the key.
        explode: false
        in: path
        name: keyId
        required: true
        schema:
          example: int_5d8cff3cd55b040010928b5b
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationApiKeyResponse'
          description: Ok
      summary: Get Integration Key
      tags:
      - CustomIntegrationApiKeys
      x-accepts: application/json
  /v2/apps/{appId}/switchboards:
    get:
      description: |
        Lists all switchboards belonging to the app.
      operationId: listSwitchboards
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/switchboardListResponse'
          description: Ok
        "404":
          description: Not Found
      summary: List Switchboards
      tags:
      - Switchboards
      x-accepts: application/json
    post:
      description: Create a switchboard.
      operationId: createSwitchboard
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/switchboardResponse'
          description: Created
        "404":
          description: Not Found
      summary: Create Switchboard
      tags:
      - Switchboards
      x-accepts: application/json
  /v2/apps/{appId}/switchboards/{switchboardId}:
    delete:
      description: Deletes the switchboard and all its switchboard integrations. The
        integrations linked to these switchboard integrations are not deleted and
        will start receiving all conversation events.
      operationId: deleteSwitchboard
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Identifies the switchboard.
        explode: false
        in: path
        name: switchboardId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Ok
        "404":
          description: Not Found
      summary: Delete Switchboard
      tags:
      - Switchboards
      x-accepts: application/json
    patch:
      description: Updates a switchboard record.
      operationId: updateSwitchboard
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Identifies the switchboard.
        explode: false
        in: path
        name: switchboardId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/switchboardUpdateBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/switchboardResponse'
          description: Ok
        "404":
          description: Not Found
      summary: Update Switchboard
      tags:
      - Switchboards
      x-contentType: application/json
      x-accepts: application/json
  /v2/apps/{appId}/switchboards/{switchboardId}/switchboardIntegrations:
    get:
      description: |
        Lists all switchboard integrations linked to the switchboard.
      operationId: listSwitchboardIntegrations
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Identifies the switchboard.
        explode: false
        in: path
        name: switchboardId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/switchboardIntegrationListResponse'
          description: Ok
        "404":
          description: Not Found
      summary: List Switchboard Integrations
      tags:
      - Switchboard Integrations
      x-accepts: application/json
    post:
      description: Create a switchboard integration.
      operationId: createSwitchboardIntegration
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Identifies the switchboard.
        explode: false
        in: path
        name: switchboardId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/switchboardIntegrationCreateBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/switchboardIntegrationResponse'
          description: Created
        "404":
          description: Not Found
      summary: Create Switchboard Integration
      tags:
      - Switchboard Integrations
      x-contentType: application/json
      x-accepts: application/json
  /v2/apps/{appId}/switchboards/{switchboardId}/switchboardIntegrations/{switchboardIntegrationId}:
    delete:
      description: Deletes the switchboard integration. If the deleted switchboard
        integration had an active status for some conversations, the default switchboard
        integration will replace it. Note that it is forbidden to delete a switchboard
        integration if it's the default one (a new one must be chosen first) or if
        another switchboard integration's `nextSwitchboardIntegrationId` refers to
        it. The integration that was linked to the deleted switchboard integration
        will start receiving all conversation events, regardless of the switchboard
        status.
      operationId: deleteSwitchboardIntegration
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Identifies the switchboard.
        explode: false
        in: path
        name: switchboardId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Identifies the switchboard integration.
        explode: false
        in: path
        name: switchboardIntegrationId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Ok
        "404":
          description: Not Found
      summary: Delete Switchboard Integration
      tags:
      - Switchboard Integrations
      x-accepts: application/json
    patch:
      description: Updates a switchboard integration record.
      operationId: updateSwitchboardIntegration
      parameters:
      - description: Identifies the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Identifies the switchboard.
        explode: false
        in: path
        name: switchboardId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      - description: Identifies the switchboard integration.
        explode: false
        in: path
        name: switchboardIntegrationId
        required: true
        schema:
          example: 5d8cff3cd55b040010928b5b
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/switchboardIntegrationUpdateBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/switchboardIntegrationResponse'
          description: Ok
        "404":
          description: Not Found
      summary: Update Switchboard Integration
      tags:
      - Switchboard Integrations
      x-contentType: application/json
      x-accepts: application/json
components:
  parameters:
    pageQuery:
      description: Contains parameters for applying cursor pagination.
      explode: true
      in: query
      name: page
      required: false
      schema:
        $ref: '#/components/schemas/page'
      style: deepObject
    appFilterQuery:
      $ref: '#/components/parameters/filter'
      description: Contains parameters for filtering the results.
      explode: true
      in: query
      name: filter
      required: false
      schema:
        properties:
          serviceAccountId:
            description: When specified, lists only the apps that the service account
              has access to.
            type: string
        type: object
      style: deepObject
    appId:
      description: Identifies the app.
      explode: false
      in: path
      name: appId
      required: true
      schema:
        example: 5d8cff3cd55b040010928b5b
        type: string
      style: simple
    keyId:
      description: The id of the key.
      explode: false
      in: path
      name: keyId
      required: true
      schema:
        example: int_5d8cff3cd55b040010928b5b
        type: string
      style: simple
    userIdQuery:
      description: The user's id. One of userId or userExternalId is required, but
        not both.
      explode: true
      in: query
      name: userId
      required: false
      schema:
        example: 42589ad070d43be9b00ff7e5
        type: string
      style: form
    userExternalIdQuery:
      description: The external Id of the user. One of userId or userExternalId is
        required, but not both.
      explode: true
      in: query
      name: userExternalId
      required: false
      schema:
        example: your-own-user-id
        type: string
      style: form
    limitQuery:
      description: Limit the number of records to return.
      explode: true
      in: query
      name: limit
      required: false
      schema:
        default: 25
        example: 25
        maximum: 100
        minimum: 0
        type: integer
      style: form
    offsetQuery:
      description: The number of initial records to skip before picking records to
        return.
      explode: true
      in: query
      name: offset
      required: false
      schema:
        default: 0
        example: 0
        type: integer
      style: form
    conversationId:
      description: Identifies the conversation.
      explode: false
      in: path
      name: conversationId
      required: true
      schema:
        example: 029c31f25a21b47effd7be90
        type: string
      style: simple
    before:
      description: When specified, only messages older than the given timestamp are
        returned.
      explode: true
      in: query
      name: before
      required: false
      schema:
        example: 1471995755
        type: integer
      style: form
    after:
      description: When specified, only messages newer than the given timestamp are
        returned.
      explode: true
      in: query
      name: after
      required: false
      schema:
        example: 1471995721
        type: integer
      style: form
    messageId:
      description: The id of the message.
      explode: false
      in: path
      name: messageId
      required: true
      schema:
        example: 029c31f25a21b47effd7be90
        type: string
      style: simple
    userId:
      description: The user's id or externalId.
      explode: false
      in: path
      name: userId
      required: true
      schema:
        example: 42589ad070d43be9b00ff7e5
        type: string
      style: simple
    clientId:
      description: The client's id.
      explode: false
      in: path
      name: clientId
      required: true
      schema:
        example: 5d8cff3cd55b040010928b5b
        type: string
      style: simple
    typesQuery:
      description: Comma-separated list of types to return. If omitted, all types
        are returned.
      explode: true
      in: query
      name: types
      required: false
      schema:
        example: android,ios
        type: string
      style: form
    integrationId:
      description: The id of the integration.
      explode: false
      in: path
      name: integrationId
      required: true
      schema:
        example: 029c31f25a21b47effd7be90
        type: string
      style: simple
    switchboardId:
      description: Identifies the switchboard.
      explode: false
      in: path
      name: switchboardId
      required: true
      schema:
        example: 5d8cff3cd55b040010928b5b
        type: string
      style: simple
    switchboardIntegrationId:
      description: Identifies the switchboard integration.
      explode: false
      in: path
      name: switchboardIntegrationId
      required: true
      schema:
        example: 5d8cff3cd55b040010928b5b
        type: string
      style: simple
  requestBodies:
    AppKeyCreateBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppKeyCreateBody'
      required: true
    IntegrationApiKey:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IntegrationApiKey'
      required: true
  schemas:
    page:
      properties:
        after:
          description: "A record id. Results will only contain the records that come\
            \ after the specified record. \nOnly one of `after` or `before` can be\
            \ provided, not both.\n"
          example: 5e1606762556d93e9c176f69
          type: string
        before:
          description: |
            A record id. Results will only contain the records that come before the specified record.
            Only one of `after` or `before` can be provided, not both.
          example: 5e1606762556d93e9c176f69
          type: string
        size:
          default: 25
          description: The number of records to return.
          example: 10
          maximum: 100
          minimum: 0
          type: integer
      type: object
    displayName:
      maxLength: 100
      nullable: true
      type: string
    appSettings:
      description: Customizable app settings.
      example:
        conversationRetentionSeconds: 0
        ignoreAutoConversationStart: true
        useAnimalNames: true
        echoPostback: true
        multiConvoEnabled: true
        maskCreditCardNumbers: true
      properties:
        conversationRetentionSeconds:
          description: "Number of seconds of inactivity before a conversation’s messages\
            \ \nwill be automatically deleted. See \n[Conversation Retention Seconds](https://docs.smooch.io/rest/#conversation-retention-seconds)\n\
            for more information.\n"
          type: integer
        maskCreditCardNumbers:
          description: "A boolean specifying whether credit card numbers should be\
            \ masked \nwhen sent through Sunshine Conversations.\n"
          type: boolean
        useAnimalNames:
          description: "A boolean specifying whether animal names should be used for\
            \ \nunnamed users. See the \n[user naming guide](https://docs.smooch.io/guide/receiving-messages/#message-author-name)\n\
            for details.\n"
          type: boolean
        echoPostback:
          description: "A boolean specifying whether a message should be added to\
            \ the conversation \nhistory when a postback button is clicked. See \n\
            [Echo Postbacks](https://docs.smooch.io/rest/#echo-postbacks)\nfor more\
            \ information.\n"
          type: boolean
        ignoreAutoConversationStart:
          description: "A boolean specifying whether a non message event coming from\
            \ a channel will \ntrigger a \n[start conversation](https://docs.smooch.io/rest/#conversation-events)\n\
            event and count as an active user conversation (AUC).\n<aside class=\"\
            notice\">Calling <code>startConversation()</code> (or equivalent) from\
            \ the Android, \niOS or Web SDK will count as an AUC, regardless of the\
            \ value of this setting.</aside>\n"
          type: boolean
        multiConvoEnabled:
          description: |
            A boolean specifying whether users are allowed to be part of several conversations.
            Enabling `multiConvo` is **irreversible**.
          type: boolean
      type: object
    metadata:
      description: "Flat object containing custom properties. Strings, numbers and\
        \ booleans \nare the only supported format that can be passed to metadata.\n\
        The metadata is limited to 4KB in size.\n"
      example:
        ref: 4213572
      nullable: true
      type: object
    app:
      example:
        settings:
          conversationRetentionSeconds: 0
          ignoreAutoConversationStart: true
          useAnimalNames: true
          echoPostback: true
          multiConvoEnabled: true
          maskCreditCardNumbers: true
        metadata:
          ref: 4213572
        displayName: ""
        id: 55c8d9758590aa1900b9b9f6
      properties:
        id:
          description: A canonical ID that can be used to retrieve the Sunshine Conversations
            app.
          example: 55c8d9758590aa1900b9b9f6
          type: string
        displayName:
          allOf:
          - $ref: '#/components/schemas/displayName'
          description: The friendly name of the app.
        settings:
          $ref: '#/components/schemas/appSettings'
        metadata:
          description: "Flat object containing custom properties. Strings, numbers\
            \ and booleans \nare the only supported format that can be passed to metadata.\n\
            The metadata is limited to 4KB in size.\n"
          example:
            ref: 4213572
          nullable: true
          type: object
      type: object
    meta:
      example:
        beforeCursor: 55c8d9758590aa1900b9b9f6
        afterCursor: 55c8d9758590aa1900b9b9f6
        hasMore: hasMore
      properties:
        hasMore:
          description: A flag that indicates if there are more records that can be
            fetched.
          type: string
        afterCursor:
          description: "A record id that can be used as a `page[after]` parameter\
            \ in a new request to get the next page. \nNot specified if there are\
            \ no subsequent pages.\n"
          example: 55c8d9758590aa1900b9b9f6
          type: string
        beforeCursor:
          description: "A record id that can be used as a `page[before]` parameter\
            \ in a new request to get the previous page. \nNot specified if there\
            \ are no previous pages.\n"
          example: 55c8d9758590aa1900b9b9f6
          type: string
      type: object
    links:
      example:
        next: https://api.smooch.io/v2/apps?page[after]=5ea868f862cdd24abf010b38
        prev: https://api.smooch.io/v2/apps?page[before]=fcafad804c39a39648004af9
      properties:
        prev:
          description: A link to the previous page. Not specified if there are no
            previous pages.
          example: https://api.smooch.io/v2/apps?page[before]=fcafad804c39a39648004af9
          type: string
        next:
          description: A link to the next page. Not specified if there are no subsequent
            pages.
          example: https://api.smooch.io/v2/apps?page[after]=5ea868f862cdd24abf010b38
          type: string
      type: object
    appListResponse:
      example:
        meta:
          beforeCursor: 55c8d9758590aa1900b9b9f6
          afterCursor: 55c8d9758590aa1900b9b9f6
          hasMore: hasMore
        links:
          next: https://api.smooch.io/v2/apps?page[after]=5ea868f862cdd24abf010b38
          prev: https://api.smooch.io/v2/apps?page[before]=fcafad804c39a39648004af9
        apps:
        - settings:
            conversationRetentionSeconds: 0
            ignoreAutoConversationStart: true
            useAnimalNames: true
            echoPostback: true
            multiConvoEnabled: true
            maskCreditCardNumbers: true
          metadata:
            ref: 4213572
          displayName: ""
          id: 55c8d9758590aa1900b9b9f6
        - settings:
            conversationRetentionSeconds: 0
            ignoreAutoConversationStart: true
            useAnimalNames: true
            echoPostback: true
            multiConvoEnabled: true
            maskCreditCardNumbers: true
          metadata:
            ref: 4213572
          displayName: ""
          id: 55c8d9758590aa1900b9b9f6
      properties:
        apps:
          description: List of returned apps.
          items:
            $ref: '#/components/schemas/app'
          type: array
        meta:
          $ref: '#/components/schemas/meta'
        links:
          $ref: '#/components/schemas/links'
      type: object
    appCreateBody:
      properties:
        displayName:
          allOf:
          - $ref: '#/components/schemas/displayName'
          description: The friendly name of the app.
        settings:
          $ref: '#/components/schemas/appSettings'
        metadata:
          description: "Flat object containing custom properties. Strings, numbers\
            \ and booleans \nare the only supported format that can be passed to metadata.\n\
            The metadata is limited to 4KB in size.\n"
          example:
            ref: 4213572
          nullable: true
          type: object
      required:
      - displayName
      title: AppCreateBody
      type: object
    appResponse:
      example:
        app: ""
      properties:
        app:
          allOf:
          - $ref: '#/components/schemas/app'
          description: The app.
      title: AppResponse
      type: object
    appUpdateBody:
      properties:
        displayName:
          allOf:
          - $ref: '#/components/schemas/displayName'
          description: The friendly name of the app.
        settings:
          $ref: '#/components/schemas/appSettings'
        metadata:
          description: "Flat object containing custom properties. Strings, numbers\
            \ and booleans \nare the only supported format that can be passed to metadata.\n\
            The metadata is limited to 4KB in size.\n"
          example:
            ref: 4213572
          nullable: true
          type: object
      type: object
    appKey:
      example:
        displayName: displayName
        id: id
        secret: secret
      properties:
        id:
          description: The unique ID of the API key, used when signing JWTs or accessing
            the API using Basic Authentication.
          type: string
        displayName:
          description: The name of the API key.
          type: string
        secret:
          description: The secret of the API key, used when signing JWTs or accessing
            the API using Basic Authentication
          type: string
      type: object
    appKeyListResponse:
      example:
        keys:
        - displayName: displayName
          id: id
          secret: secret
        - displayName: displayName
          id: id
          secret: secret
      properties:
        keys:
          description: List of returned keys.
          items:
            $ref: '#/components/schemas/appKey'
          type: array
      type: object
    appKeyResponse:
      example:
        key: ""
      properties:
        key:
          allOf:
          - $ref: '#/components/schemas/appKey'
          description: The created key object.
      title: AppKeyResponse
      type: object
    conversationType:
      description: The type of the conversation.
      enum:
      - personal
      - sdkGroup
      example: personal
      type: string
    conversation:
      example:
        isDefault: false
        metadata:
          ref: 4213572
        appMakerLastRead: appMakerLastRead
        lastUpdatedAt: lastUpdatedAt
        displayName: ""
        id: c93bb9c14dde8ffb94564eae
        type: personal
      properties:
        id:
          description: The unique ID of the conversation.
          example: c93bb9c14dde8ffb94564eae
          type: string
        type:
          $ref: '#/components/schemas/conversationType'
        isDefault:
          description: |
            Whether the conversation is the default conversation for the user. Will be
            rue for the first personal conversation created for the user, and false in
            all other cases.
          example: false
          type: boolean
        displayName:
          allOf:
          - $ref: '#/components/schemas/displayName'
          description: |
            A friendly name for the conversation, may be displayed to the business or
            the user.
        metadata:
          description: "Flat object containing custom properties. Strings, numbers\
            \ and booleans \nare the only supported format that can be passed to metadata.\n\
            The metadata is limited to 4KB in size.\n"
          example:
            ref: 4213572
          nullable: true
          type: object
        appMakerLastRead:
          description: |
            A datetime string with the format YYYY-MM-DDThh:mm:ss.SSSZ
            representing the moment the conversation was last marked as read with
            role appMaker.
          nullable: true
          type: string
        lastUpdatedAt:
          description: |
            A datetime string with the format YYYY-MM-DDThh:mm:ss.SSSZ
            representing the moment the last message was received in the
            conversation, or the creation time if no messages have been received yet.
          nullable: true
          type: string
      type: object
    conversationListResponse:
      example:
        offset: 0
        hasMore: true
        conversations:
        - isDefault: false
          metadata:
            ref: 4213572
          appMakerLastRead: appMakerLastRead
          lastUpdatedAt: lastUpdatedAt
          displayName: ""
          id: c93bb9c14dde8ffb94564eae
          type: personal
        - isDefault: false
          metadata:
            ref: 4213572
          appMakerLastRead: appMakerLastRead
          lastUpdatedAt: lastUpdatedAt
          displayName: ""
          id: c93bb9c14dde8ffb94564eae
          type: personal
      properties:
        conversations:
          description: List of returned conversations.
          items:
            $ref: '#/components/schemas/conversation'
          type: array
        hasMore:
          description: A flag that indicates if there are more records that can be
            fetched.
          type: boolean
        offset:
          description: The offset parameter sent with the request.
          type: integer
      type: object
    participantSubSchema:
      properties:
        userId:
          description: The id of the user that will be participating in the conversation.
            It will return 404 if the user can’t be found. One of userId or userExternalId
            is required, but not both.
          example: 42589ad070d43be9b00ff7e5
          type: string
        userExternalId:
          description: The externalId of the user that will be participating in the
            conversation. It will return 404 if the user can’t be found. One of userId
            or userExternalId is required, but not both.
          example: your-own-user-id
          type: string
        subscribeSDKClient:
          description: When passed as true, the SDK client of the concerned participant
            will be subscribed to the conversation. The user will start receiving
            push notifications for this conversation right away, without having to
            view the conversation on the SDK beforehand. An SDK client will be created
            for users that don’t already have one. This field is required if the conversation
            is of type sdkGroup.
          example: false
          type: boolean
      type: object
    conversationCreateBody:
      properties:
        type:
          $ref: '#/components/schemas/conversationType'
        participants:
          description: |
            The users participating in the conversation. See participant sub-schema
            below. For `personal` conversations, this field is required with a length of exactly
            1. For `sdkGroup` conversations, must have a length less than or equal to 10.
            Can be omitted to have a conversation with no participants if the type is `sdkGroup`.
          items:
            $ref: '#/components/schemas/participantSubSchema'
          maxItems: 10
          type: array
        displayName:
          allOf:
          - $ref: '#/components/schemas/displayName'
          description: |
            A friendly name for the conversation, may be displayed to the business or
            the user.
        metadata:
          description: "Flat object containing custom properties. Strings, numbers\
            \ and booleans \nare the only supported format that can be passed to metadata.\n\
            The metadata is limited to 4KB in size.\n"
          example:
            ref: 4213572
          nullable: true
          type: object
      required:
      - type
      title: ConversationCreateBody
      type: object
    conversationResponse:
      example:
        conversation: ""
      properties:
        conversation:
          allOf:
          - $ref: '#/components/schemas/conversation'
          description: The conversation.
      title: ConversationResponse
      type: object
    conversationUpdateBody:
      properties:
        displayName:
          allOf:
          - $ref: '#/components/schemas/displayName'
          description: |
            A friendly name for the conversation, may be displayed to the business or
            the user.
        metadata:
          description: "Flat object containing custom properties. Strings, numbers\
            \ and booleans \nare the only supported format that can be passed to metadata.\n\
            The metadata is limited to 4KB in size.\n"
          example:
            ref: 4213572
          nullable: true
          type: object
      type: object
    participantJoinBody:
      allOf:
      - $ref: '#/components/schemas/participantSubSchema'
    clientType:
      description: The type of integration that the client represents. Can be any
        of the supported integration types, or sdk for integrations of type ios, android,
        and web.
      enum:
      - line
      - mailgun
      - messagebird
      - messenger
      - sdk
      - telegram
      - twilio
      - twitter
      - viber
      - wechat
      - whatsapp
      example: sdk
      type: string
    clientAssociation:
      example:
        clientId: 42589ad070d43be9b00ff7e5
        type: sdk
      properties:
        type:
          $ref: '#/components/schemas/clientType'
        clientId:
          description: The id of the client being referenced.
          example: 42589ad070d43be9b00ff7e5
          type: string
      type: object
    participant:
      example:
        unreadCount: 0
        userExternalId: your-own-id
        id: c93bb9c14dde8ffb94564eae
        userId: 42589ad070d43be9b00ff7e5
        lastRead: 2019-01-14T18:55:12.515Z
        clientAssociations:
        - clientId: 42589ad070d43be9b00ff7e5
          type: sdk
        - clientId: 42589ad070d43be9b00ff7e5
          type: sdk
      properties:
        id:
          description: The unique ID of the participant.
          example: c93bb9c14dde8ffb94564eae
          type: string
        userId:
          description: The id of the associated user.
          example: 42589ad070d43be9b00ff7e5
          type: string
        unreadCount:
          description: Number of messages the user has not yet read.
          example: 0
          type: integer
        clientAssociations:
          description: |
            Represents the clients that are active in the conversation for a particular
            user. A participant can have multiple clientAssociations in the case of
            channel transfer, business initiated conversations, or identified users.
            The order of the array indicates how recently a client has interacted with
            the conversation, with the most recent client first. The first item in the
            array is considered to be the user's primary client for that conversation,
            and will be selected first for message delivery.
          items:
            $ref: '#/components/schemas/clientAssociation'
          type: array
        userExternalId:
          description: The externalId of the associated user.
          example: your-own-id
          nullable: true
          type: string
        lastRead:
          description: A datetime string with the format YYYY-MM-DDThh:mm:ss.SSSZ
            representing the latest message the user has read.
          example: 2019-01-14T18:55:12.515Z
          nullable: true
          type: string
      type: object
    participantListResponse:
      description: List of returned participants.
      example:
        offset: 0
        hasMore: true
        participants:
        - unreadCount: 0
          userExternalId: your-own-id
          id: c93bb9c14dde8ffb94564eae
          userId: 42589ad070d43be9b00ff7e5
          lastRead: 2019-01-14T18:55:12.515Z
          clientAssociations:
          - clientId: 42589ad070d43be9b00ff7e5
            type: sdk
          - clientId: 42589ad070d43be9b00ff7e5
            type: sdk
        - unreadCount: 0
          userExternalId: your-own-id
          id: c93bb9c14dde8ffb94564eae
          userId: 42589ad070d43be9b00ff7e5
          lastRead: 2019-01-14T18:55:12.515Z
          clientAssociations:
          - clientId: 42589ad070d43be9b00ff7e5
            type: sdk
          - clientId: 42589ad070d43be9b00ff7e5
            type: sdk
      properties:
        participants:
          items:
            $ref: '#/components/schemas/participant'
          type: array
        hasMore:
          description: A flag that indicates if there are more records that can be
            fetched.
          type: boolean
        offset:
          description: The offset parameter sent with the request.
          type: integer
      type: object
    participantLeaveBody:
      oneOf:
      - $ref: '#/components/schemas/ParticipantLeaveBodyUserId'
      - $ref: '#/components/schemas/ParticipantLeaveBodyUserExternalId'
      - $ref: '#/components/schemas/ParticipantLeaveBodyParticipantId'
      x-one-of-name: ParticipantLeaveBody
    author:
      example:
        role: appMaker
        avatarUrl: https://openapi-generator.tech
        name: name
        userExternalId: userExternalId
        userId: userId
      properties:
        role:
          description: The role of the message or activity.
          enum:
          - appMaker
          - user
          type: string
        userId:
          description: The id of the user. Only supported when role is user.
          type: string
        userExternalId:
          description: The externalId of the user. Only supported when role is user.
          type: string
          writeOnly: true
        name:
          description: The display name of the message author.
          type: string
        avatarUrl:
          description: The URL of the desired message avatar image.
          format: uri
          type: string
      required:
      - role
      type: object
    buy:
      properties:
        type:
          description: The type of action.
          type: string
        text:
          description: The button text.
          type: string
        amount:
          description: The amount being charged. It needs to be specified in cents
            and is an integer (9.99$ -> 999).
          type: integer
        currency:
          description: An ISO 4217 standard currency code in lowercase. Used for actions
            of type buy.
          type: string
        metadata:
          description: "Flat object containing custom properties. Strings, numbers\
            \ and booleans \nare the only supported format that can be passed to metadata.\n\
            The metadata is limited to 4KB in size.\n"
          example:
            ref: 4213572
          nullable: true
          type: object
      required:
      - amount
      - text
      - type
      type: object
    extraChannelOptions:
      properties:
        messenger:
          $ref: '#/components/schemas/extraChannelOptions_messenger'
      type: object
    link:
      description: A link action will open the provided URI when tapped.
      properties:
        type:
          description: The type of action.
          type: string
        uri:
          description: The action URI. This is the link that will be used in the clients
            when clicking the button.
          format: uri
          type: string
        text:
          description: The button text.
          type: string
        default:
          description: Boolean value indicating whether the action is the default
            action for a message item in Facebook Messenger. Used for actions of type
            link.
          type: boolean
        metadata:
          description: "Flat object containing custom properties. Strings, numbers\
            \ and booleans \nare the only supported format that can be passed to metadata.\n\
            The metadata is limited to 4KB in size.\n"
          example:
            ref: 4213572
          nullable: true
          type: object
        extraChannelOptions:
          $ref: '#/components/schemas/extraChannelOptions'
      required:
      - text
      - type
      - uri
      type: object
    locationRequest:
      description: A location request action will prompt the user to share their location.
      properties:
        type:
          description: The type of action.
          type: string
        text:
          description: The button text.
          type: string
        metadata:
          description: "Flat object containing custom properties. Strings, numbers\
            \ and booleans \nare the only supported format that can be passed to metadata.\n\
            The metadata is limited to 4KB in size.\n"
          example:
            ref: 4213572
          nullable: true
          type: object
      required:
      - text
      - type
      type: object
    postback:
      properties:
        type:
          description: The type of action.
          type: string
        text:
          description: The button text.
          type: string
        payload:
          description: The payload of a postback or reply button.
          type: object
        metadata:
          description: "Flat object containing custom properties. Strings, numbers\
            \ and booleans \nare the only supported format that can be passed to metadata.\n\
            The metadata is limited to 4KB in size.\n"
          example:
            ref: 4213572
          nullable: true
          type: object
      required:
      - payload
      - text
      - type
      type: object
    reply:
      properties:
        type:
          description: The type of action.
          type: string
        text:
          description: The button text. Text longer than 20 characters will be truncated
            on Facebook Messenger, and longer than 40 characters will be truncated
            on Web Messenger, iOS, and Android.
          type: string
        payload:
          description: A string payload to help you identify the action context. Used
            when posting the reply. You can also use metadata for more complex needs.
          type: object
        metadata:
          description: "Flat object containing custom properties. Strings, numbers\
            \ and booleans \nare the only supported format that can be passed to metadata.\n\
            The metadata is limited to 4KB in size.\n"
          example:
            ref: 4213572
          nullable: true
          type: object
        iconUrl:
          description: An icon to render next to the reply option.
          type: string
      required:
      - payload
      - text
      - type
      type: object
    webview:
      description: When a webview actions is clicked/tapped, the provided URI will
        be loaded in a webview. Channels that do not support webviews will open the
        fallback URI instead.
      properties:
        type:
          description: The type of action.
          type: string
        uri:
          description: The webview URI. This is the URI that will open in the webview
            when clicking the button.
          format: uri
          type: string
        text:
          description: The button text.
          type: string
        default:
          description: Boolean value indicating whether the action is the default
            action for a message item in Facebook Messenger. Used for actions of type
            link.
          type: boolean
        metadata:
          description: "Flat object containing custom properties. Strings, numbers\
            \ and booleans \nare the only supported format that can be passed to metadata.\n\
            The metadata is limited to 4KB in size.\n"
          example:
            ref: 4213572
          nullable: true
          type: object
        extraChannelOptions:
          $ref: '#/components/schemas/extraChannelOptions'
        size:
          description: The size to display a webview. Used for actions of type webview.
          type: integer
        fallback:
          description: The fallback uri for channels that don’t support webviews.
            Used for actions of type webview.
          type: string
        openOnReceive:
          description: Boolean value indicating if the webview should open automatically.
            Only one action per message can be set to true. Currently only supported
            on the Web Messenger.
          type: boolean
      required:
      - fallback
      - text
      - type
      - uri
      type: object
    action:
      discriminator:
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/buy'
      - $ref: '#/components/schemas/link'
      - $ref: '#/components/schemas/locationRequest'
      - $ref: '#/components/schemas/postback'
      - $ref: '#/components/schemas/reply'
      - $ref: '#/components/schemas/webview'
      x-one-of-name: Action
    textMessage:
      properties:
        type:
          description: The type of message.
          type: string
        text:
          description: The text content of the message. Optional only if actions are
            provided.
          maxLength: 4096
          type: string
        actions:
          items:
            $ref: '#/components/schemas/action'
          type: array
      required:
      - type
      type: object
    actionSubset:
      discriminator:
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/buy'
      - $ref: '#/components/schemas/link'
      - $ref: '#/components/schemas/postback'
      - $ref: '#/components/schemas/webview'
      x-one-of-name: ActionSubset
    item:
      properties:
        title:
          description: The title of the item.
          maxLength: 128
          minLength: 1
          type: string
        description:
          description: The description of the item.
          maxLength: 128
          type: string
        mediaUrl:
          description: The image url attached to the item.
          format: uri
          maxLength: 2048
          type: string
        mediaType:
          description: The MIME type for any image attached in the mediaUrl.
          maxLength: 128
          type: string
        size:
          description: The size of the image.
          enum:
          - compact
          - large
          type: string
        actions:
          description: An array of objects representing the actions associated with
            the item.
          items:
            $ref: '#/components/schemas/actionSubset'
          maxItems: 3
          minItems: 1
          type: array
        metadata:
          description: "Flat object containing custom properties. Strings, numbers\
            \ and booleans \nare the only supported format that can be passed to metadata.\n\
            The metadata is limited to 4KB in size.\n"
          example:
            ref: 4213572
          nullable: true
          type: object
      required:
      - actions
      - title
      type: object
    carouselMessage:
      description: Carousel messages are a horizontally scrollable set of items that
        may each contain text, an image, and message actions. Not all messaging channels
        fully support carousel messages; currently only Facebook Messenger, LINE,
        Telegram, Viber, the Web Messenger, the Android SDK and the iOS SDK cover
        the full functionality. For all other platforms a carousel message is rendered
        as raw text. The raw text fallback does not include any images or postback
        message actions.
      properties:
        type:
          description: The type of message.
          type: string
        items:
          description: An array of objects representing the items associated with
            the message. Only present in carousel and list type messages.
          items:
            $ref: '#/components/schemas/item'
          maxItems: 10
          minItems: 1
          type: array
        displaySettings:
          $ref: '#/components/schemas/carouselMessage_displaySettings'
      required:
      - items
      - type
      type: object
    fileMessage:
      properties:
        type:
          description: The type of message.
          type: string
        text:
          description: The text content of the message.
          type: string
        mediaUrl:
          description: The URL for media, such as an image, attached to the message.
          format: uri
          type: string
      required:
      - type
      type: object
    formOptions:
      description: Array of objects representing options for a field of type select.
      items:
        properties:
          label:
            description: The label of the option. What the option is displayed as
              on Web Messenger.
            maxLength: 128
            minLength: 1
            type: string
          name:
            description: The name of the field. Must be unique per field.
            maxLength: 128
            minLength: 1
            type: string
        type: object
      maxItems: 20
      type: array
    field:
      description: |
        Properties that can be expected to receive inside a form or formResponse message field.
      properties:
        type:
          description: The field type.
[...]
